@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.mainContainer {
    display: flex;
    gap: 10px;
}

#output-container::-webkit-scrollbar {
    display: none;
}

.container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 400px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.input-container {
    margin-bottom: 15px;
}

input,
select {
    margin: 10px 0;
    padding: 8px;
    width: calc(100% - 16px);
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

button:hover {
    background-color: #0056b3;
}

#output-container {
    display: none;
    margin-top: 20px;
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 8px;
    text-align: left;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-height: 70vh;
    min-width: 400px;
    overflow-y: auto;
}

#output-container p {
    margin: 5px 0;
    padding: 5px;
    background-color: #fff;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}